## AICTE[Edunet]-Python-AI/ML-In Electric Vehical

ðŸ”‹ ***Problem Statement:*** *Predicting Battery Health and Range in Electric Vehicles.*

ðŸŽ¯ ****Objective****

*To design a machine learning model that predicts the State of Health (SoH) of lithium-ion batteries used in electric vehicles, using real sensor data such as voltage, current, temperature, and time.*
*The predicted SoH can then be used to estimate driving range and assist in battery maintenance and management.*

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score
import matplotlib.pyplot as plt

In [25]:
Battery =pd.read_csv('00005.csv')
metadata =pd.read_csv('meta.csv')

In [28]:
Battery.head()

,Voltage_measured,Current_measured,Temperature_measured,Current_load,Voltage_load,Time
0,4.186636,-0.001666,5.454957,0.0002,0.000,0.000
1,4.186626,-0.002432,5.485011,0.0002,4.203,9.297
2,4.001180,-0.995300,5.510369,1.0000,3.431,23.265
3,3.982544,-0.994923,5.581233,1.0000,3.411,36.437
4,3.968436,-0.995817,5.640744,1.0000,3.398,49.609

In [29]:
metadata.head()

,type,start_time,ambient_temperature,battery_id,test_id,uid,filename,Capacity,Re,Rct
0,discharge,[2010. 7. 21. 15. 0. ...,4,B0047,0,1,00001.csv,1.6743047446975208,NaN,NaN
1,impedance,[2010. 7. 21. 16. 53. ...,24,B0047,1,2,00002.csv,NaN,0.05605783343888099,0.20097016584458333
2,charge,[2010. 7. 21. 17. 25. ...,4,B0047,2,3,00003.csv,NaN,NaN,NaN
3,impedance,[2010 7 21 20 31 5],24,B0047,3,4,00004.csv,NaN,0.05319185850921101,0.16473399914864734
4,discharge,[2.0100e+03 7.0000e+00 2.1000e+01 2.1000e+01 2...,4,B0047,4,5,00005.csv,1.5243662105099023,NaN,NaN

In [30]:
matches = metadata[metadata["filename"].astype(str).str.contains("00005")]
print("Matching rows found:", len(matches))

Matching rows found: 1

In [38]:
matches.head()

,type,start_time,ambient_temperature,battery_id,test_id,uid,filename,Capacity,Re,Rct
4,discharge,[2.0100e+03 7.0000e+00 2.1000e+01 2.1000e+01 2...,4,B0047,4,5,00005.csv,1.5243662105099023,NaN,NaN

In [40]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 4 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   type                 1 non-null      object
 1   start_time           1 non-null      object
 2   ambient_temperature  1 non-null      int64
 3   battery_id           1 non-null      object
 4   test_id              1 non-null      int64
 5   uid                  1 non-null      int64
 6   filename             1 non-null      object
 7   Capacity             1 non-null      object
 8   Re                   0 non-null      object
 9   Rct                  0 non-null      object
dtypes: int64(3), object(7)
memory usage: 88.0+ bytes

In [42]:
matches["Capacity"] = matches["Capacity"].astype(float)

In [44]:
matches = matches.dropna(subset=["Capacity"])
matches["SoH"] = (matches["Capacity"] / 2.0) * 100

In [45]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 4 to 4
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   type                 1 non-null      object
 1   start_time           1 non-null      object
 2   ambient_temperature  1 non-null      int64
 3   battery_id           1 non-null      object
 4   test_id              1 non-null      int64
 5   uid                  1 non-null      int64
 6   filename             1 non-null      object
 7   Capacity             1 non-null      float64
 8   Re                   0 non-null      object
 9   Rct                  0 non-null      object
 10  SoH                  1 non-null      float64
dtypes: float64(2), int64(3), object(6)
memory usage: 96.0+ bytes

In [46]:
matches.head()

,type,start_time,ambient_temperature,battery_id,test_id,uid,filename,Capacity,Re,Rct,SoH
4,discharge,[2.0100e+03 7.0000e+00 2.1000e+01 2.1000e+01 2...,4,B0047,4,5,00005.csv,1.524366,NaN,NaN,76.218311